body {
  background-color: #1f1522;
  color: #f1f1f1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
}
p {
  line-height: 1.3em;
}
.content {
  padding-top: 2em;
  padding-bottom: 8em;
  text-align: center;
  letter-spacing: 0.5px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
img.header-logo {
  margin: 1em auto 1em auto;
  width: 430px;
  max-width: 100%;
}
.uppercase {
  text-transform: uppercase;
}

.color-grid {
  display: none; /* hide for now */
  position: fixed;
  top: 0;
  right: 0;
}
.color-grid div {
  height: 50px;
  width: 50px;
  color: blue;
}
.color-grid-1 {
/*      background-color: #ACDFDA;*/
  background-color: #51F2E2;
}
.color-grid-2 {
  background-color: #FFDE70;
}
.color-grid-3 {
  background-color: #FF713A;
}
.color-grid-4 {
  background-color: #6847C1;
}

@media screen and (max-width: 600px) {
  .color-grid div {
    display: inline-block;
  }
}


/* FLEX */
.sftd-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}
.sftd-row > .col {
  padding: 0.25em;
}
.col img {
  max-width: 100%;
}


.col.sftd-3 {
  width: 23%;
}
.col.sftd-4 {
  width: 32%;
}
.col.sftd-6 {
  width: 48%;
}
.col.sftd-12 {
  width: 98%;
}
@media screen and (max-width: 600px) {
  .col.sftd-3 {
    width: 45%;
  }
  .col.sftd-6, .col-sftd-12 {
    width: 98%;
  }
}

/* HELPERS */
.text-center {
  text-align: center;
}
.mb {
  margin-bottom: 2em;
}

form input {
  padding: 1em;
}
.pageclip-form input {
  display: block;
  margin: 0.5em auto;
  max-width: 100%;
  width: 400px;
}
form button {
  margin-top: 1em;
  padding: 1em 2em;
}

.pageclip-form {
  padding: 1em !important;
}
.pageclip-form__success {
  background: hsla(259.2, 67.1%, 15.5%, 0.8) !important;
}
