.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.header-hero {
  background-image: url('../images/hero_images/pouches_and_logo.png');
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: cover;
  height: 600px;
  width: 100%;
  max-width: 2000px;
}
@media (max-width: 1280px) {
  .header-hero {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .header-hero {
    height: 400px;
  }
}

body {
  background-color: #1b0c20;
  color: #f1f1f1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
}
p {
  line-height: 1.3em;
}
a, a:hover, a:visited, a:active, .link {
  color: #04d0ff;
}
.content {
  padding-top: 2em;
  padding-bottom: 8em;
  text-align: center;
  letter-spacing: 0.5px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
img.header-logo {
  margin: 1em auto 1em auto;
  width: 430px;
  max-width: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.hide {
  display: none;
}

.color-grid {
  display: none; /* hide for now */
  position: fixed;
  top: 0;
  right: 0;
}
.color-grid div {
  height: 50px;
  width: 50px;
  color: blue;
}
.color-grid-1 {
/*      background-color: #ACDFDA;*/
  background-color: #51F2E2;
}
.color-grid-2 {
  background-color: #FFDE70;
}
.color-grid-3 {
  background-color: #FF713A;
}
.color-grid-4 {
  background-color: #6847C1;
}

@media screen and (max-width: 600px) {
  .color-grid div {
    display: inline-block;
  }
}


/* FLEX */
.sftd-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}
.sftd-row > .col {
  padding: 0.25em;
}
.col img {
  max-width: 100%;
}


.col.sftd-3 {
  width: 23%;
}
.col.sftd-4 {
  width: 32%;
}
.col.sftd-6 {
  width: 48%;
}
.col.sftd-12 {
  width: 98%;
}
@media screen and (max-width: 600px) {
  .col.sftd-3 {
    width: 45%;
  }
  .col.sftd-6, .col-sftd-12 {
    width: 98%;
  }
}

/* HELPERS */
.text-center {
  text-align: center;
}
.mb {
  margin-bottom: 2em;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form input {
  padding: 1.2em;
  font-size: 1.1em;
}
.pageclip-form input {
  display: block;
  margin: 0.5em auto;
  max-width: 400px;
  text-align: center;
}
form button {
  margin-top: 1em;
  padding: 1em 2em;
  font-size: 1.1em;
}
form button:hover {
  cursor: pointer;
}

.pageclip-form {
  padding: 1em !important;
}
.pageclip-form__success {
  background: hsla(259.2, 67.1%, 15.5%, 0.8) !important;
}

